.detail {
  position: relative;
  top: 10em;
  width: 1800px;
  height: 950px;
  /* background: #000; */
  margin: 0em auto;
}

.item_img_BG {
  position: absolute;
  margin: 0 auto;
  inset: 0;
  width: 850px;
  height: 900px;
  z-index: -1;
  opacity: 0.1;

}

.item_img_BG img {
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  top: 3.1em;
  width: 660px;
  height: 425px;
  /* background: red; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.017em;
}

.name {
  position: absolute;
  width: 610px;
  height: 100px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  /* background: #000; */

  font-size: 64px;
  font-weight: 600;
  /* or 50% */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.017em;
}

.description {
  position: relative;
  width: 580px;
  /* height: 120px; */
  left: 30px;
  top: 160px;
  font-size: 18px;
  padding: 0 0.8em;
  display: flex;
  align-items: center;
  text-align: justify;
  text-overflow: ellipsis;
  line-clamp: 3;
  color: #000000;
  overflow: auto;
  /* background: #000; */
}

.description p {
  /* position: absolute; */
}

.price {
  position: absolute;
  width: 467px;
  height: 80px;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  line-height: 32px;
  font-weight: 600;
  color: #8e0000;
  border-radius: 15px;
  background: #f6f6f6;
  box-shadow: 10px 10px 10px #c4c4c4, -10px -10px 10px #ffffff;
  user-select: none;
}

.price p {
  height: 45px;
  padding: 5px 0;
  margin: 0em 0.2em;
  border-bottom: 3px solid #8e0000;
}

.item_img {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  border-radius: 50%;
}

.item_img img {
  border-radius: 50%;

  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.item_img_bg {
  width: 50%;
  height: 50%;
  z-index: -1;
}

.item_img_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.social_btn {
  position: relative;
  padding: 0em 3em;
  top: 8em;
  margin-bottom: 8em;
  width: 450px;
  height: 80px;
  /* background: red; */
}

.share {
  margin-top: 1em;
  width: 200px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
}

.share .title {
  margin: 1.5em 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.preservation {
  position: relative;
  width: 500px;
  top: 6.8em;
  /* background: red; */
  padding: 0 3em;
}

.preservation .title {
  text-align: center;
  padding: 0.2em 0;
  font-size: 24px;
  color: #fff;
  width: 200px;
  height: 40px;
  border-radius: 10px 10px 0 0;
  background: #000;
}

.content {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  white-space: nowrap;
  right: 0;
  width: 390px;
  height: 72px;
  /* background: #fff; */
}

.svg {
  margin-top: 0.2em;
  margin-right: 0.2em;
}

.flavor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3.1em;
  right: 0em;
  width: 660px;
  height: 425px;

  /* background: red; */
}

.flavor_content {
  width: 500px;
  height: 312px;
  /* background: #000; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.flavor_item {
  width: 120px;
  height: 152px;
  margin: 1em;
  /* background: #fff; */
}

.flavor_name {
  white-space: pre-wrap;
  margin-top: 0.3em;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.flavor_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.flavor_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.item_interact {
  position: absolute;
  top: 35em;
  right: 11em;
  width: 370px;
  height: 250px;
  /* background: #000; */
}

.rating {
  position: relative;
  width: 100%;
  height: 45px;
  margin-bottom: 2.5em;
  user-select: none;
  /* background: #000; */
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.rating span {
  margin-top: 3px;
  font-weight: 600;
  font-size: 2em;
  
}

.rating img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 2.5em;
  /* background: #000; */
}

.quantity p {
  padding-top: 0.5em;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  user-select: none;
}

.qty_contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 2em;
  /* margin: 0 1em; */

  margin-left: 1em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 1px #cbd0d0, -10px -10px 10px #ffffff;
}

.qty {
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.plus,
.minus {
  font-size: 20px;
}

.btn {
  width: 100%;
  height: 100px;
  /* border-radius: 20px;
  background: #00a490; */
}

.btn button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.017em;
  user-select: none;
  color: #000;
  border-radius: 20px;
  background: #00a490;
  box-shadow: 0px 5px 1px #cbd0d0, -10px -10px 10px #ffffff;
  transition: all 0.5s ease-in-out 0s;
}

.btn button:active {
  background: #00a490;
  box-shadow: inset 19px 19px 38px #008b7a, inset -19px -19px 38px #00bda6;
  transition: all 0.5s ease-in-out 0s;
}

.scroll:active {
  background: #e6e6e6;
  box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
}
.scroll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 5px 5px #cbd0d0, -5px -5px 10px #ffffff;
}
.scroll button {
  border: none;
  outline: none;
  background: transparent;
}

